.excel-layout {
    height: 35vh;
}
.excel-upload-sider {
    background: transparent;
}
.excel-expr-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: darkgray;
    transition: all .3s;
}
.excel-expr-delete-button:hover {
    color: gray;
}
.excel-expr-row {
    margin-left: 3% !important;
    margin-right: 0 !important;
}
.excel-expr-content {
    overflow: auto;
}
.excel-expr-add-button {
    width: 100%;
}
.excel-table-header {
    background: transparent;
    height: 40px;
}
.excel-table-content {
    background: white;
}
.excel-expr-update-button {
    text-align: right;
}