.ant-table td {
    white-space: nowrap;
}
.sql-alltable-menu {
    height: 400px;
    overflow: auto;
}
.sql-codemirror-layout {
    padding-left: 1%;
}
.sql-tabs-content {
    background: white
}
.sql-tag-div {
    padding-bottom: 10px;
    padding-left: 30px
}